@theme inline {
  --font-serif: var(--alpina), serif;
  --font-sans: var(--america-cond), 'Helvetica Neue', helvetica, sans-serif;
  --font-sans-extended: var(--america-ex), 'Helvetica Neue', helvetica, sans-serif;
}

.ts-body {
  @apply font-sans font-normal leading-130;
}

.ts-serif {
  @apply font-serif font-normal leading-105 -tracking-3;
}

.ts-sans-wide {
  @apply font-sans-extended font-black leading-115 uppercase tracking-2;
}

.ts-sans-tall {
  @apply font-sans font-black leading-115 uppercase;
}

/*
Use ts-size utility to set font size as proportion of gut size.
Example: ts-size-24/36 → font-size = var(--gut) × (24÷36)
*/

/* Headings */
.ts-h1 {
  @apply ts-size-46/24 md:ts-size-88/36;
}

.ts-h2 {
  @apply ts-size-35/24 md:ts-size-76/36;
}

.ts-h3 {
  @apply ts-size-26/24 md:ts-size-58/36;
}

.ts-h4 {
  @apply ts-size-20/24 md:ts-size-42/36;
}

.ts-h1-h3 {
  @apply ts-size-46/24 md:ts-size-76/36 lg:ts-size-58/36;
}

/* Labels */
.ts-h5 {
  @apply ts-size-16/24 md:ts-size-36/36;
}

.ts-h6 {
  @apply ts-size-14/24 md:ts-size-24/36;
}

/* Paragraphs */

.ts-p-lg {
  @apply ts-size-19/24 md:ts-size-24/36;
}

.ts-p-md {
  @apply ts-size-17/24 md:ts-size-22/36;
}

.ts-p-sm {
  @apply ts-size-15/24 md:ts-size-20/36;
}

.ts-p-xs {
  @apply ts-size-13/24 md:ts-size-15/36;
}

/* Misc */
.ts-btn {
  @apply font-sans font-black uppercase leading-none ts-size-15/24 md:ts-size-18/36;
}

.ts-meta {
  @apply ts-size-9/24 md:ts-size-10/36;
}

.inline-link {
  @apply nice-underline transition-opacity hover:opacity-50;
}
